<div class="fixed z-20 bottom-0 left-0 right-0 bg-white h-[57px] flex items-center justify-around py-3 shadow-lg border-t border-gray-200">
  <button (click)="navigateToHome()" class="flex flex-col items-center">
    <lucide-icon [name]="icons.Home" class="w-6 h-6 text-gray-600"></lucide-icon>
    <span class="text-gray-600 text-sm">Home</span>
  </button>
  <button (click)="navigateToSearch()" class="flex flex-col items-center">
    <lucide-icon [name]="icons.Search" class="w-6 h-6 text-gray-600"></lucide-icon>
    <span class="text-gray-600 text-sm">Search</span>
  </button>
  <button (click)="navigateToPayments()" class="flex flex-col items-center">
    <lucide-icon [name]="icons.CreditCard" class="w-6 h-6 text-gray-600"></lucide-icon>
    <span class="text-gray-600 text-sm">Cards</span>
  </button>
  <button (click)="navigateToProfile()" class="flex flex-col items-center">
    <lucide-icon [name]="icons.User" class="w-6 h-6 text-gray-600"></lucide-icon>
    <span class="text-gray-600 text-sm">Profile</span>
  </button>
</div>