<div class="mt-4 w-full max-h-full">
  <div class="w-auto px-3 h-[80px] rounded-tr-2xl rounded-tl-2xl rounded-br-2xl rounded-bl-2xl bg-[#f8f5fe]">
    <div class="flex justify-between items-center py-2">
      <div class="flex items-center space-x-5">
        <app-add-ico class="w-[35px] h-[35px]" />
        <div class="flex flex-col ml-5">
          <h3 class="text-black font-semibold text-lg">Add Beneficiary</h3>
          <h1 class="text-gray-400 text-lg">Pay bills easier</h1>
        </div>
      </div>
      <div class="mr-2">
        <button class="bg-[#753ff9] rounded-full text-white px-6 py-[9px] font-bold">
          Add
        </button>
      </div>
    </div>

  </div>
  <div class="py-2"></div>

  <div class="-mx-4">
    <div class="w-full space-y-0 px-[25px]">
      <div class="flex items-col space-x-[15px] justify-between w-auto">
        <div class="flex items-center gap-3">
          <div class="w-[65px] h-[65px] rounded-full overflow-hidden relative">
            <img src="/assets/img/brands/showmax.png" alt="Recipient Name" class="w-full h-full object-cover" />
          </div>
          <div>
            <p class="font-medium text-black"><strong>0149550555553</strong></p>
            <p class="text-gray-500 text-sm">0149550555553</p>
          </div>
        </div>

        <div class="flex items-center space-x-2">
          <app-edit-ico class="w-[35px] h-[35px]" />
          <app-delete-ico class="w-[35px] h-[35px]" />
        </div>
      </div>
      <div class="flex items-col space-x-[15px] justify-between w-auto">
        <div class="flex items-center gap-3">
          <div class="w-[65px] h-[65px] rounded-full overflow-hidden relative">
            <img src="/assets/img/brands/showmax.png" alt="Recipient Name" class="w-full h-full object-cover" />
          </div>
          <div>
            <p class="font-medium text-black"><strong>0149550555553</strong></p>
            <p class="text-gray-500 text-sm">0149550555553</p>
          </div>
        </div>

        <div class="flex items-center space-x-2">
          <app-edit-ico class="w-[35px] h-[35px]" />
          <app-delete-ico class="w-[35px] h-[35px]" />
        </div>
      </div>
    </div>
  </div>
</div>